.main2{
    display: flex;
    width: 100%;
    border: 1px solid #000;
    justify-self: unset;
    justify-content: space-between;
    border-radius: 15px;
    /* height: 100px; */
}

.heberger, .popu{
    border: 1px solid #000;
    border-radius: 15px;
}

.heberger{
    width: 65%;
}

.popu{
    width: 33%;
}

.heberger-title, .popu-title{
    padding: 30px 30px;
}

.cards{
    border: 2px solid #000;
    display: flex;
    justify-content: space-around;
}

.card{
    height: 210px;
    width: 250px;
    border: 3px solid #e71313;
    margin: 5px;
    
}

.card img{
    max-width: 97%;
    max-height: 60%;
    margin: 5px 5px;

}


.footerDiv{
    display: flex;
    border: 1px solid #d20f0f;
    width: 100%;
    
}
.footerDiv ul{
    /* display: flex; */
    border: 2px solid #43d20f;
    width: 100%;
    padding: 15px 15px; 
}
.footerDiv ul li {
border: 1px solid #000;
    width: 100%;
    padding: 5px 0px; 
}