.main2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #000;
    justify-self: unset;
    justify-content: space-between;
    border-radius: 15px;
    /* height: 100px; */
}

.heberger, .popu{
    border: 1px solid #000;
    border-radius: 15px;
    background: #F2F2F2;
}

.heberger{
    width: 65%;
    min-width: 350px;
}

.heberger-title, .popu-title{
    padding: 30px 30px;
}

.cards{
    border: 2px solid #000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

.card{
    height: 210px;
    width: 28%;
    border: 1px solid #e71313;
    margin: 5px;
    border-radius: 15px;
    background-color: white;
    
}

.card img{
    max-width: 97%;
    max-height: 60%;
    margin: 5px 5px;

}

