.main2{
    display: flex;
    width: 100%;
    border: 1px solid #000;
    justify-self: unset;
    justify-content: space-between;
    border-radius: 15px;
    /* height: 100px; */
}

.heberger, .popu{
    border: 1px solid #000;
    border-radius: 15px;
}

.heberger{
    width: 65%;
}

.popu{
    width: 33%;
}

.heberger-title, .popu-title{
    padding: 30px 30px;
}

.cards{
    border: 2px solid #000;
    display: flex;
    justify-content: space-around;
}

.card{
    height: 150px;
    width: 250px;
    border: 3px solid #e71313;
    
}

.card img{
    max-width: 97%;
        max-height: 60%;
        margin: 5px 5px;

}