.popu{
    width: 450px;
}
.popu-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popu-info span{
    padding: 0 30px 0 0;
}

.card2{
    display: flex;
    max-width: 400px;
    height: 150px;
    border: 1px solid #000;
    margin: 0 auto;
}
.cards2{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.container2, .pop-main{
    max-width: 300px;
    padding: 0 0 0 20px;
    /* background: #e46d6d; */
    
}

.pop-main{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.container2 span:nth-last-child(-n + 2){

    color: rgb(153, 149, 149);

    
}