.popu{
    width: 33%;
}

.card2{
    display: flex;
    max-width: 400px;
    height: 150px;
    border: 1px solid #000;
    margin: 0 auto;
}
.cards2{
    
}

.container2{
    max-width: 300px;
    padding: 0 0 0 20px;
    /* background: #e46d6d; */
    
}
.container2 span:nth-last-child(-n + 1){

    color: rgb(153, 149, 149);

    
}